[submodule ".vim/pack/coc/start/coc.nvim"]
	path = .vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim/
[submodule ".vim/pack/emmet-vim/start/emmet-vim"]
	path = .vim/pack/emmet-vim/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/local/start/editorconfig-vim"]
	path = .vim/pack/local/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim/
[submodule ".vim/pack/themes/start/vim"]
	path = .vim/pack/themes/start/vim
	url = https://github.com/dracula/vim/
[submodule ".vim/pack/vim-airlline/start/vim-airline"]
	path = .vim/pack/vim-airlline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline/
[submodule ".vim/pack/vim-airline/start/vim-airline"]
	path = .vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline/
[submodule ".vim/pack/vim-javascript/start/vim-javascript"]
	path = .vim/pack/vim-javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript/
[submodule ".vim/pack/vim-markdown/start/vim-markdown"]
	path = .vim/pack/vim-markdown/start/vim-markdown
	url = https://github.com/preservim/vim-markdown/
[submodule ".vim/pack/vim-startify/start/vim-startify"]
	path = .vim/pack/vim-startify/start/vim-startify
	url = https://github.com/mhinz/vim-startify/
[submodule ".vim/pack/themes/start/dracula"]
	path = .vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim
